/* ===== GLOBAL BACKGROUND ===== */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #869afc, #0072FF);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: #0e0404;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ===== FORM CARD ===== */
.form-container{
    background: linear-gradient(
        135deg,
        rgba(144, 168, 228, 0.85),
        rgba(150, 195, 242, 0.85)
    );
}


              

/* ===== TITLE ===== */
.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2em;
  font-weight: 700;
}

/* ===== INPUTS ===== */
.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  background: rgba(255, 255, 255, 0.1);
  color: #250e0e;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.3s;
}

.form-group input::placeholder {
  color: rgba(167, 166, 234, 0.7);
}

.form-group input:focus {
  outline: none;
  border-color: #00E5FF;
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.9);
  background: rgba(255, 255, 255, 0.18);
}

/* ===== BUTTON ===== */
.btn-primary {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #9ba7e3, #0072FF);
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow:
    0 0 20px rgba(0, 229, 255, 0.8),
    0 0 40px rgba(0, 114, 255, 0.6);
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow:
    0 0 30px rgba(0, 229, 255, 1),
    0 0 60px rgba(0, 114, 255, 0.8);
}

/* ===== LINKS ===== */
.link-text {
  margin-top: 25px;
  text-align: center;
}

.link-text a {
  color: #1f0fb8;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(0, 229, 255, 0.8);
}
.link-text a:hover{
    color: #1e3c72;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
